# ExpoCLI Enhanced Kernel - HTML Table Demo

This notebook demonstrates the **enhanced HTML table output** feature.

## What's New?

âœ¨ **Beautiful HTML Tables** instead of plain text:
- Purple gradient headers
- Zebra-striped rows for readability
- Hover effects
- Right-aligned numbers
- Professional styling with shadows

Let's compare the old vs. new output!

In [7]:
SELECT .food FROM examples/test.xml;

## Test 1: Basic Query

A simple query to show all breakfast items:

In [8]:
SELECT name, price, calories FROM examples/test.xml

No results found.

## Test 2: Select Specific Fields

Notice how the price column (numeric) is right-aligned!

## Test 3: Filtered Query

The styled tables make it easier to scan filtered results:

In [9]:
SELECT name, price, calories FROM examples/test.xml WHERE calories < 700

No results found.

## Test 4: Books Dataset

Hover over rows to see the highlight effect!

In [ ]:
SELECT title, author, price FROM examples/books.xml ORDER BY price DESC

## Test 5: Books by Category

Notice the @ symbol for attributes is preserved in the styling:

In [ ]:
SELECT @category, title, price FROM examples/books.xml WHERE @category = 'web'

## Test 6: Multiple Files

When querying multiple files, the table makes it easy to distinguish sources:

In [ ]:
SELECT FILE_NAME, title, price FROM examples/bookstore_*.xml LIMIT 10

## Test 7: Aggregation Results

Even aggregated data looks professional:

In [ ]:
SELECT @category, COUNT(*) FROM examples/books.xml GROUP BY @category

## Test 8: Error Handling

Enhanced error messages with helpful tips:

In [ ]:
SELECT * FROM nonexistent_file.xml

## Comparison Summary

### Before (v1.0.0)
```
name                        | price
Belgian Waffles            | $5.95
Strawberry Belgian Waffles | $7.95

2 row(s) returned.
```

### After (v1.1.0)
- ðŸŽ¨ **Professional HTML table** with gradient header
- ðŸ“Š **Zebra striping** - alternating row colors
- ðŸ–±ï¸ **Interactive** - hover to highlight rows  
- ðŸ”¢ **Smart alignment** - numbers right-aligned
- âœ… **Styled badges** - result count with checkmark

---

## Next Steps

Try your own queries and enjoy the enhanced visual experience!

See `JUPYTER_ENHANCEMENTS.md` for the full roadmap of upcoming features:
- Magic commands (`%pwd`, `%cd`, `%set_timeout`)
- Tab completion
- Query caching
- Pandas integration
- And more!