# ExpoCLI Jupyter Kernel Demo

This notebook demonstrates the ExpoCLI Jupyter kernel for SQL-like XML querying.

**ExpoCLI** allows you to query XML files using familiar SQL syntax, making it easy to extract and analyze data from XML documents.

## What You'll Learn

1. Basic SELECT queries
2. Filtering with WHERE clauses
3. Sorting and limiting results
4. Querying multiple files
5. Aggregation functions

## Sample Data

This demo uses example XML files in the `examples/` directory:
- `test.xml` - Breakfast menu with prices and calories
- `books.xml` - Bookstore catalog
- `bookstore_*.xml` - Multiple bookstore branches

## 1. Simple SELECT Query

Let's start with a basic query to select all items from the breakfast menu:

In [ ]:
SELECT * FROM examples/test.xml

## 2. Selecting Specific Fields

Select only the name and price of each item:

In [ ]:
SELECT name, price FROM examples/test.xml

## 3. Filtering with WHERE

Find all items that cost more than $5.00:

In [ ]:
SELECT name, price FROM examples/test.xml WHERE price > 5.00

## 4. Sorting Results

Order items by price (descending):

In [ ]:
SELECT name, price FROM examples/test.xml ORDER BY price DESC

## 5. Limiting Results

Get only the top 3 most expensive items:

In [ ]:
SELECT name, price FROM examples/test.xml ORDER BY price DESC LIMIT 3

## 6. Complex Filtering

Find healthy, affordable options (low calories and price):

In [ ]:
SELECT name, price, calories 
FROM examples/test.xml 
WHERE calories < 700 AND price < 6.00

## 7. Querying Books Catalog

Now let's work with the bookstore data. First, see all books:

In [ ]:
SELECT * FROM examples/books.xml

## 8. Querying XML Attributes

Select books by category (using @ for attributes):

In [ ]:
SELECT title, @category, price 
FROM examples/books.xml 
WHERE @category = 'web'

## 9. Finding Expensive Books

Find all books priced over $30:

In [ ]:
SELECT title, author, price 
FROM examples/books.xml 
WHERE price > 30 
ORDER BY price DESC

## 10. Querying Multiple Files

Query all bookstore branch files at once using FILE_NAME to see which branch each book is from:

In [ ]:
SELECT FILE_NAME, title, author, price 
FROM examples/bookstore_*.xml 
ORDER BY price DESC

## 11. Aggregation - Count

Count how many books are in each category:

In [ ]:
SELECT @category, COUNT(*) 
FROM examples/books.xml 
GROUP BY @category

## 12. Aggregation - Statistics

Calculate price statistics (min, max, average) for the breakfast menu:

In [ ]:
SELECT MIN(price) as min_price, MAX(price) as max_price, AVG(price) as avg_price 
FROM examples/test.xml

## 13. Using DISTINCT

Get a list of unique categories from the bookstore:

In [ ]:
SELECT DISTINCT @category FROM examples/books.xml

## Special Commands

ExpoCLI also supports special commands. Here are some examples:

### Get Help

In [ ]:
help

## Next Steps

Congratulations! You've learned the basics of querying XML with ExpoCLI in Jupyter.

### Try These Advanced Features:

1. **XML Validation**: Use `SET XSD` and `CHECK` commands to validate XML files
2. **Data Generation**: Generate sample XML from XSD schemas with `GENERATE XML`
3. **Nested Queries**: Use FOR clauses for complex nested iterations
4. **Custom Analysis**: Combine ExpoCLI queries with Python/pandas for further analysis

### Resources:

- [ExpoCLI GitHub Repository](https://github.com/PierreBx/ExpoCLI)
- [Full Documentation](../README.md)
- [More Examples](../EXAMPLES.md)

### Creating Your Own Analyses:

You can now create your own notebooks to:
- Explore your XML datasets interactively
- Document your data analysis workflows
- Share reproducible XML query pipelines
- Combine XML queries with Python visualization libraries

Happy querying! ðŸš€